<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.Tanu.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.Tanu.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    
    
    
    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>com.Tanu.MyFilter</filter-class>
    </filter>
<!--    Filter mapping-->
    <filter-mapping>
        <filter-name>Filter1</filter-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </filter-mapping>
    
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <h1>
        <a>Profile Servlet</a>
    </h1>
</web-app>
